body {
  background: #fdfdfd; 
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px; 
}

.invalid-feedback {
  display: block; 
}

.steps-item {
  color: lightgray;
  cursor: default;
}

.steps-item.active {
  color: green;
}

.steps-item.complete {
  color: black;
  cursor: pointer;
}
